<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Vendas</title>
	<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" href="style/styleCss.css"/>
</head>
<body>

	<header>
		<nav class="menu">
		    <div class="nav-wrapper">
		      <a href="#" class="brand-logo">Cadastrar Clientes:</a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li><a href="/login" class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">account_circle</i></a></li>
		        <li><a href="/produtos" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Logout</a></li>
		      </ul>
		    </div>
		</nav>
	
	</header>
	<br>
	<br>
	
	<div class="container formEvento">
	
	<form class="container" method="post">
		<div class="row">
			<div class="input-field col s6">
				Nome: <input type="text" value="" name="nomeCliente"/>
			</div>
			<div class="input-field col s6">
				E-mail: <input type="text" value="" name="emailCliente"/>
			</div>
		</div>
		<button class="waves-effect waves-light btn" type="submit">Salvar</button>
	
	</form>
	</div>
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>


</html>